body{
    font-size: 1.4em;
    background-position: center fixed;
    background-repeat: no-repeat;
}
h1{
    color: rgb(0, 0, 0) ;
    text-align-last: center;}

p{
    color: rgb(12, 56, 6);
}

li{
    display: inline-block;
    list-style-type:none;
    padding: 10px;
    background-color: rgb(211, 212, 219);
    bottom: 3cm;
  
}

.red-style{
    color: rgb(12, 1, 37);
    size: inherit;
}
 #blue-style{
        color: rgb(102, 255, 0);

}
a{
    text-decoration: none;
}
ol{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.gallery{
    display: flex;

}
.photos-list{
width: 300px;
height: 300px;
}