.embed-responsive .card-img-top {
    object-fit: cover;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(255, 255, 255, 0.938);
}

li {
    list-style: none;

}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}


#search-submition {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    align-content: flex-end;

}

#main-image {
    width: 100%;
    height: 400px;
}
.container{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.justify {
    text-align: justify;
}

.text-hover {

    color: green;
}

.farvahar-brand {
    width: 7rem;
    margin: -1rem;
    margin-bottom: -2rem;

}

/* @media (min-width :768px) {
    .farvahar-brand {
        width: 35%;
    } */




/* .hidden-links {

  overflow: visible;
    transition: var(--transition);
  }
  .show-links {
 display: none;
       visibility: visible;
  } */

/* #nasir:hover{
    background: url("./photos/kashan-bazarr.jpg") no-repeat
}

img:hover {
} */