.embed-responsive .card-img-top {
    object-fit: cover;
}
body{
    background-color: rgba(255, 255, 255, 0.938);
}
li{
    list-style: none;

}

a{
    color: rgb(207, 18, 18);
    text-decoration: none;
    
}


#search-submition{
display: flex;
flex-direction: row-reverse;
align-items: flex-end;
align-content: flex-end;

}
#main-image{
    width:100%;
    height: 400px;
}
.justify{
    text-align: justify;
}

.text-hover{
   
    color: green; 
}
/* .hidden-links {

  overflow: visible;
    transition: var(--transition);
  }
  .show-links {
 display: none;
       visibility: visible;
  } */
 
/* #nasir:hover{
    background: url("./photos/kashan-bazarr.jpg") no-repeat
}

img:hover {
} */